.AttachImageButton:hover{
  cursor:pointer;
  text-decoration: underline;
}
.ImageLoadedSuccesful{
  color: hsla(120, 84%, 36%, 0.719);
  margin-left: 10px;
  font-weight: bold;
}

.ImageLoadedFailed{
  color: hsla(0, 88%, 38%, 0.719);
  margin-left: 10px;
  font-weight: bold;
}

.Cancel{
  cursor: pointer;
  color: hsla(0, 0%, 0%, 0.719);
}

.PostUserImage{
  width: 50px; 
  height: 50px;
  cursor:pointer;
}

.ImagePreview{
  width: 100%; 
  height: auto;
}